/* Start Rules */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-family: 'Roboto','Arial', sans-serif;
}
/* End Rules */
/* Start Header */
header {
    /* width: 100vw; */
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}

.left-section {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.left-section img {
    width:46%;
    padding-left: 16px;
}

.mid-section {
    display: flex;
    align-items: center;
    justify-content:center;
    margin-left: -9%;
}

.mid-section form  {
    display: flex;
    height:40px;
    width: 628px;
    /* padding-right: 5px; */
}

.mid-section input   {
    width: 100%;
    border-radius:2px 0 0 2px;
    padding: 15px;
    font-size: 1.6rem;
    border: 1px solid #d3d3d3;
    border-right: none;
    outline: none;
}

.mid-section button {
    /* padding: 0 15px; */
    width: 64px;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    border-radius: 0 2px 2px 0;
    padding-top: 5px;
    margin-right: 12px;
    background-color: #f8f8f8;
}

.mid-section button:hover {
    background-color: #f0f0f0;
    border-color :#c6c6c6;
}

.mid-section .mic {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 10px; */
}

.mid-section .mic:hover {
    background-color: #f0f0f0;
    border-color :#c6c6c6;
}

.right-section {
    display: flex;
    justify-content:center;
    margin-right: 15px;
}

.right-section a {
    display: flex; 
    justify-content:center;
    align-items: center;
    padding: 0 18px;
    color:#000;
    width:40px;
    height:40px;
    text-decoration: none;
}

.right-section a:hover {
    background-color: #f0f0f0;
    border-radius: 50%;
}
/* End Header */
/* Start content-area */
.content-area {
    height:calc(100vh - 56px);
    background-color: #f9f9f9;
    display: flex;
}

aside {
    width:280px;
    height: 100%;
    background-color: white;
    overflow-y: auto;
}

nav {
    width:100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    padding-right: 15px;
}

.nav-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size:1.6rem;
    padding: 10px 16px;
    border-radius: 2px;
    color:#030303;
}

.nav-link:hover {
background-color: rgba(0, 0, 0, 0.05)
}


.nav-link span {
    margin-left: 15px;
    color:#030303;
    font-weight: 400;
    font-size:1.4rem;
    line-height:2rem;
    padding-top: 5px;
}

.active {
    background-color: #e6e6e6;
}

#active-span {
    font-weight:550
}

hr {
    border-color: rgba(0, 0, 0, 0.09);
    margin: 10px 0;
}
nav p {
    font-size:1.5rem;
    padding: 8px 16px;
    color:#606060;
    text-transform: uppercase;
}
a img {
    width:24px;
    height:24px;
    border-radius :50%;
    border: 1px solid #d3d3d3;

}

main {
    width:100%;
    height:100%;
    padding:35px 15px;
    border-top: 1px solid #ddd;
    overflow-y: auto;
}

.videos-container {
    display:flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.videos {
    width:300px;
    margin-bottom: 40px;
    cursor: pointer;
}
.thumbnail {
    width:100%;
    height: 187px;
    margin-bottom: 12px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
}

.video-details {
    display:flex;
}

.videos-img {
    width:40px;
    height: 40px;
    border-radius:50%;
    margin-right: 12px;
    /* border: 1px solid #d3d3d3; */
}

.title {
    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
}

.title a {
    text-decoration:none;
}

.video-title {
    font-size: 1.7rem;
    color:rgb(3,3,3);
    margin-bottom: 4px;
    max-width:200px;
    font-weight:500;
    line-height:2.2rem;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:2;
    -webkit-box-orient:vertical;
}

.video-creator ,.title span{
    color:rgba(96,96,96);
    font-size:1.4rem;
    line-height:2rem;
    font-weight:400
}

.video-creator:hover {
    color:#000;
}

.title span {
    margin-top: 5px;
}
/* End content-area */

